# Python cache
__pycache__/
*.py[cod]

# SQLite DB
db.sqlite3

# VS Code settings
.vscode/

# Django migrations
**/migrations/
*.log

# Virtual Environment
env/
venv/

env/
__pycache__/
*.pyc
db.sqlite3
.env
staticfiles/


# OS-specific
.DS_Store
Thumbs.db
