{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Home - My Blog{% endblock %}
{% block content %}
  <h2 class="mb-4">Recent Posts</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for post in posts %}
    <div class="col">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h5>
          <p class="card-text">{{ post.content|truncatewords:30 }}</p>
          <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary btn-sm">Read More</a>
        </div>
        <div class="card-footer text-muted">
          By {{ post.author }} | {{ post.created_at|date:"M d, Y" }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}